@model AutoDoc.ViewModels.PasswordVM
@{
    ViewBag.Title = "ModifyPassword";
    Layout = null;
}
<head>
    <title>AutoDoc Dasboard - AutoDoc</title>
    @Styles.Render("~/Content/autodoc-admin.css")
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
</head>

<body>
    <div class="modal-form-container">
        @using (Html.BeginForm("ModifyPassword", "User", FormMethod.Post, new { @class = "admin-modal-form" }))
        {
            @Html.AntiForgeryToken()
            <div class="admin-modal-form">
                <div class="admin-modal-form-title">Change Password</div>
                <div id="admin-form-error">@{@Html.Encode(ViewData["Message"]); @Html.ValidationMessageFor(u => u.password);}</div>

                <div class="admin-modal-form-section">
                    @Html.PasswordFor(u => u.password, new { placeholder = "Password", @class = "auth-form-input", required = "required" })
                </div>

                <div class="modal-form-btn-container">
                    <input class="admin-form-primary-btn" id="login-btn" type="submit" value="Change">
                </div>
            </div>
        }
        @{Html.EndForm();}
    </div>
</body>