
@{
    ViewBag.Title = "OpenUserLanding";
    Layout = null;
}

<head>
    <title>Bookings - AutoDoc</title>
    @Styles.Render("~/Content/autodoc-user.css")
    @Styles.Render("~/Content/autodoc-auth.css")
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
</head>

