
@{
    ViewBag.Title = "ManageDoctors";
    Layout = "../Shared/AdminPanel.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin Dashboard - AutoDoc</title>
    @Styles.Render("~/Content/autodoc-admin.css")
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
</head>

<body>

    <!--<a href="" class='admin-board'>
        <div class='admin-board-header'>Doctors</div>
        <div class='admin-board-content'>
            <div class="number"></div>
            <div class="caption">Active Doctors</div>
        </div>
    </a>-->

    <div id='main-content'>
        <div id='main-header'>Manage Doctors</div>
        <div id='admin-action-container'>
            <a href="@Url.Action("ShowAddForm", "Admin")" class='admin-action-btn' id='add-btn'>Add</a>
            <!--<input class='admin-action-search' type="text" placeholder="Search">-->
        </div>
        <div id='admin-frame'>
            <?php if($docInfo=="empty"){return null;}foreach($docInfo as $doctor):?>
            <div class="frame-cards">
                <div class="frame-card-info-container">
                    <div class="frame-card-cont-text">Dr. <?php echo $doctor->firstname;?> <?php echo $doctor->lastname;?></div>
                    <div class="frame-card-cont-text"><?php echo $doctor->email;?></div>
                </div>
                <div class="frame-card-buttons-container">
                    <a href="<?php echo base_url() . " index.php/Admin_controller/ShowUpdateForm/doctors/" . $doctor->id; ?>" class="frame-card-button">&#9998</a>
                    <a href="<?php echo base_url() . " index.php/Admin_controller/Delete/doctors/" . $doctor->id; ?>" class="frame-card-button">&#10799</a>
                </div>
            </div>
            <?php endforeach;?>
        </div>
    </div>

</body>
</html>
